<link rel="stylesheet" href="pie.component.scss" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">

<footer class="footer">
        <section class="section">
            <div class="tximg1">
                <img alt="logo img 01" src="../../../assets/images/image-retro-pcs.jpg" class="logo-img"/>
                <div>
                    <h1 class="teximg1 h1">01</h1>
                    <h2 class="h2"><strong>Reviving Retro PCs</strong></h2>
                    <h3 class="h3">What happens when old PCs are given modern upgrade?</h3>
                </div>
            </div>
        </section>
        <section class="aside">
            <div class="tximg2 ">
                <img  alt="Angular logo" src="../../../assets/images/image-top-laptops.jpg" class="logo-img"/>
            <div>
                <h1 class="teximg2 h1">02</h1>
                <h2 class="h2"><strong>10 Laptops of 2022</strong> </h2>
                <h3 class="h3">Our best picks for various needs and buggets</h3>
            </div>
            </div>
             
        </section>
        <section class="asides1">
            <div class="tximg1 ">
                <img  alt="Angular logo" src="../../../assets/images/image-gaming-growth.jpg" class="logo-img" />
                <div>
                    <h1 class="teximg1 h1">03</h1>
                    <h2 class="h2">The Growth of Gaming</h2>
                    <h3 class="h3"><strong>How the pandemic has sparked fresh opportunities.</strong></h3>
                </div>
            </div>
           
        </section>

</footer>