<link rel="stylesheet" href="pie.component.scss" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">

<footer class="footer">
        <section class="section">
            <img width="19%" alt="Angular logo" src="../../../assets/images/image-retro-pcs.jpg" />
        </section>
        <section class="aside">
            <img width="19%" alt="Angular logo" src="../../../assets/images/image-top-laptops.jpg" />
            
        </section>
        <section class="asides1">
            <img width="19%" alt="Angular logo" src="../../../assets/images/image-gaming-growth.jpg" />
        </section>

</footer>