<link rel="stylesheet" href="navbar.component.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">

<nav>
  <div>
    <img
    width="40"
    alt="Angular logo"
    src="../../../assets/images/logo.svg" />
  </div>
  <div class="links">
      <a class="links">Home</a>
      <a class="links">New</a>
      <a class=""></a>
