<link rel="stylesheet" href="menu.component.scss" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
<nav class="nav">
  <div>
    <img
    width="40"
    alt="Angular logo"
    src="../../../assets/images/logo.svg" />
  </div>

  <div class="">
    <ul class="ul">
        <li class="li"><a class="a">Home</a></li>
        <li class="li"><a class="a">New</a></li>
        <li class="li"><a class="a">Popular</a></li> 
        <li class="li"><a class="a">Trending</a></li> 
        <li class="li"><a class="a">Categoria</a></li> 
    </ul>
     
  </div>
  </nav>
