<link rel="stylesheet" href="contenedor.component.scss" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
<main class="main">
    <section class="section">
        <img width="98%" alt="Angular logo" src="../../../assets/images/image-web-3-desktop.jpg" />
        <section class="asideA">
            lado abajo
        </section>

    </section>
    <section class="aside">
        <h1 class="h1"> NEW</h1>
        <h2 class="h2"> Hydrogen VS Electric Cars <br><span class="span">
                Will hydrogen-fueled cars ever catch up to EVs?
                ___________________________________
            </span></h2>
        <br>
        <h2 class="h2"> The Downsides of Al Artistry <br><span class="span">
                What are the possible adverse effects of on-demand Al image generation?
                <br>
                ___________________________________
            </span>
        </h2>
        <br>
        <h2 class="h2"> Is VC Funding Drying Up <br><span class="span">
            Private funding by VC firms is down 50% YOY. We take a look at what that means.
            
            </span>
        </h2>

    </section>


</main>